doctype html
html
  head
    title news
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/components-md.css')
    link(rel='stylesheet', href='/stylesheets/compenents-rounded.css')
  body
    block content
    script(src="javascripts/build/jquery-1.11.3.min.js")
    script(src="javascripts/build/app.js")

